{% extends "base.html.twig" %}

{% block title %}FRONTOFFICE - CAR{% endblock %}

{%  block body %}
    FRONTOFFICE - CAR - Number {# id #} - Username {{ app.session.get('userName') }} - In flashBag ?
    {# app.session.flashbag.get('errors_info')[0] #}
    <ul>
        {% for error in app.session.flashbag.get('errors_info') %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {{ include("SandboxFrontBundle:Includes:index.body.html.twig") }}
    {{ include("SandboxFrontBundle:Includes:car.info.html.twig") }}
    <a href="{{ path('sandbox_front_car_carlist') }}">Retour au listing</a>
{% endblock %}

{%  block footer %}
    {{ parent() }}
    {% include ":Includes:footer.html.twig" %}
{% endblock %}